twilio==6.63.2
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
contextlib2==0.6.0.post1
Flask==1.1.4
futures==3.3.0
idna==2.10
importlib-resources==3.3.1
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.16.6
openai==0.6.4
pathlib2==2.3.7.post1
Pillow==6.2.2
pygame==2.0.3
PyJWT==1.7.1
python-dotenv==0.18.0
pytz==2022.6
requests==2.27.1
scandir==1.10.0
singledispatch==3.7.0
six==1.16.0
tqdm==4.64.0
typing==3.10.0.0
urllib3==1.26.9
Werkzeug==1.0.1
zipp==1.2.0
